<style>
    body
    {
       background-position: center;
       background-size: cover;
       background-color: #ffe4c4;
       background-repeat: no-repeat;
    }
    
    .divMsg
    {
        background-color: #ffffff;
        text-align: center;
        width: 400px;
        height: 400px;
        border: solid 1px #000000;
        margin-top: 140px;
        
    }
    .titulo
    {
        font-family: Arial, sans-serif;
        width: 285px;
        height: 45px;
        font-size: 17px;
        border: none;
        margin-left: 55px; 
        margin-top: 90px; 
    }

    
    .btnSim
    {
    
        font-family: Arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
        background-color: #dec890;
        border: solid 1px #000000;
        width: 100px;
        height: 30px;
        cursor: pointer;
        margin-top: 50px;
    }
  
    .btnNao
    {
   
        font-family: Arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
        background-color: #dec890;
        border: solid 1px #000000;
        width: 100px;
        height: 30px;
        cursor: pointer;
    }
        
      .btnSim:hover, .btnNao:hover
    {
        background-color: #c2a27c;
    }
    .btnSim:active, .btnNao:active
    {
        background-color: #795c39;
        color: #ffffff;
    }
 
    </style>