<style>
    body {
        background-position: center;
        background-size: cover;
        background-color: rgb(201, 199, 199);
        /*background-size: 100%;*/
        }  

    .divEditado
    {
        margin-top: 300px;
        
    }
     .divcadastroEntregador
    {
        background-color: #ffffff;
        text-align: center;
        width: 400px;
        height: 330px;
        border: solid 1px #000000;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        box-shadow: 5px 5px 5px black;
    }
    .lblNomeEntregador, .lblSobrEntregador, .lblEmailEntregador, .lblEmpresaNome
     {
	    display: block;
        font-family: Arial, sans-serif;
        margin-top: 10px;
        margin-left: none;
        font-size: 16px;
    }
    .txtNomeEntregador, .txtSobrEntregador, .txtEmailEntregador, .txtEmpresaNome
    {
        font-family: Arial, sans-serif;
        width: 285px;
        height: 25px;
        font-size: 16px;
        border: none;
        background-color: #e0dcdc;
        margin-top: 2px;
        margin-left: center;
        border-radius: 8px;
    }
    .lblEditado
    {
        font-family: Arial, sans-serif;
        width: 285px;
        height: 45px;
        font-size: 25px;
        border: none;
        background-color: #ffe4c4;
        Margin-top: 1110px;
    }
  
    .btnVoltar
    {
    font-family: Arial, sans-serif;
    font-size: 23px;
    font-weight: bold;
    background-color: #dec890;
    border: solid 1px #000000;
    width: 90px;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 8px;
    }
    .btnCriar {
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    background-color: #dec890;
    border: solid 1px #000000;
    width: 90px;
    height: 30px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 8px;
}
.btnLimpar {
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    background-color: #dec890;
    border: solid 1px #000000;
    width: 90px;
    height: 30px;
    cursor: pointer;
    border-radius: 8px;
}
        
      .btnVoltar:hover
    {
        background-color: #c2a27c;
    }
    .btnVoltar:active
    {
        background-color: #795c39;
        color: #ffffff;
    }
    
    </style>